.cart-flusher {
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	width: 50%;

	.confirmation-box {
		opacity: 0;
		transform: translate3d(90%, 0, 0);
		transition: all 0.2s ease-out;

		.btn {
			border: 1px solid $color-fg-alt;
			border-radius: 5px;
			color: $color-fg-alt;
			font-size: 14px;
			font-weight: 500;
			height: 32px;
			line-height: 30px;
			margin: 0 7px;
			padding: 0;
			transition: all $micro-transition;
			width: 40px;

			&-outline-danger {
				color: $color-mood-bad;

				&:hover {
					background-color: $color-mood-bad;
					border: $color-mood-bad;
					color: $color-bg;
				}
			}

			&-outline-success {
				color: $color-theme;

				&:hover {
					background-color: $color-theme;
					border-color: $color-theme;
					color: $color-bg;
				}
			}
		}
	}

	.confirmation-box,
	.link-remove-items {
		display: inline-block;
	}

	.link-remove-items {
		opacity: 1;
		transform: translate3d(165%, 0, 0);
		transition: opacity 0.2s ease-out, transform 0.2s ease-out;
		transition-delay: 0.2s;
	}

	&.is-asking {
		.confirmation-box {
			opacity: 1;
			transform: translate3d(-8%, 0, 0);
			transition: opacity 0.35s, transform 0.25s ease-out;
			transition-delay: 0.3s;
		}

		.link-remove-items {
			opacity: 0;
			transform: translate3d(170%, 0, 0);
		}
	}
}
