/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */

@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import 'telco';

html,
body {
	overflow-x: hidden;
	width: 100%;
}

#wrapper {
	padding-top: 0;
}

#telco {
	font-family: 'Open Sans', sans-serif;
	font-size: $std-font-size;
}

button {
	background-color: #fff;
}

body:not(.has-control-menu) {
	.telco-topbar {
		top: 0;

		@media screen and (max-width: $bp-small) {
			top: 0;
		}
	}

	.telco-frame__content--wide {
		padding: 0;

		.login-container {
			padding: 126px 30px !important;
		}
	}

	.telco-search__results,
	.telco-main-menu::before {
		top: $topbar-height;

		@media screen and (max-width: $bp-small) {
			top: $topbar-height-small;
		}

		@media screen and (max-width: 375px) {
			top: calc(#{$topbar-height-small} - 10px);
		}
	}

	#currentHead {
		display: none;
	}

	.telco-main-menu__links {
		top: calc(#{$topbar-height} - 1px);

		@media screen and (max-width: $bp-small) {
			top: calc(#{$topbar-height-small} - 10px);
		}
	}
}

body.has-control-menu {
	.telco-content {
		padding-top: $topbar-height !important;

		@media only screen and (max-width: 375px) {
			padding-top: calc(#{$topbar-height-small} - 10px) !important;
		}

		@media only screen and (max-width: 450px) {
			padding-top: $topbar-height-small !important;
		}
	}
}

button {
	background-color: #fff;
}

.telco-content {
	&--wide {
		margin: 0 auto;
		overflow-x: hidden;
		padding: 0;
		width: 100%;
	}

	.portlet-barebone {
		margin-top: 0 !important;
	}
}

body:not(.is-accessible) {
	// Accommodate on a case-by-case basis.
	// By default, accessibility focus outline
	// is removed after 5s if no Tab is pressed
	// at page load-up.

	*:focus {
		outline: none !important;
	}
}

@media screen and (min-width: 320px) and (max-width: 350px) {
	html {
		width: 126%;
	}

	body {
		font-size: 12px;
		width: 100%;
	}
}
