$color-bg-alt: #f7f7f8;
$color-bg-dark: #34373e;
$color-bg-medium: #fcfcfc;
$color-bg: #fff;
$color-disabled: #88e2cc;
$color-border: #eceef1;
$color-fg-alt: #7f848d;
$color-fg: #30cfa1;
$color-mood-bad-bg: #fef7f7;
$color-mood-bad: #ec676a;
$color-mood-neutral: #fee4b8;
$color-mood-good: #698fd9;
$color-shadow: rgba(92, 94, 94, 0.14);
$color-theme-dark: #2cbe94;
$color-theme-light: #88e1c3;
$color-theme: #30cfa1;
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$liferay-sidebars-width: 320px;
$liferay-topbar-height-small: 48px;
$liferay-topbar-height: 56px;
$micro-transition: ease 100ms;
$telco-shadow: 0 10px 20px $color-shadow;
$topbar-height-small: 70px;
$topbar-height: 80px;
$std-font-size: 14px;
$stroke-alt: #f2f2f2;
$stroke-variant: #353535;
$stroke: #2a2a2a;
$transition: ease 200ms;

//breakpoints

$bp-xxsmall: 376px;
$bp-xsmall: 577px;
$bp-small: 767px;
